*, *::after, *::before {
  box-sizing:border-box;  
}

:root {
  --background-color:#000000;
  --h1-color: #FFFFFF;
  --h2-color:#FFFFFF;
  --border-color: #EB3223;
  --p-hover-color: #FFFFFF;
  --p-color: #EB3223;
}

body{
  margin-bottom: 0;
  margin: 0;
  padding: 0;
  background-size: 100vh;
  width: 100%;
}

/* index.html /////////////////////////////////////////////////////////*/

  .indexBody{
    margin-left: 0;
    padding:0;
    width: 100%;
    height: 100%;
    background-color: black;
  }
  .indexBody main section:first-of-type h1{
    visibility: hidden;
  }
  .indexBody main section:nth-of-type(2) h2{
    visibility: hidden;
  }

  /* index nav ///////////////////////////////////////////////////////////*/
  /* https://codepen.io/shooft/pen/dyRVVRr */

  .indexBody header {
    margin: auto;
    display: grid;
    position:sticky;
    top:0;
    z-index: 1;
  }

  .indexBody header nav ul li a {
    color:black;
    text-decoration:none;
    font-family: 'Eurostile Extended';
    font-size: 1.22em;
    line-height: 2em;
  }

  .indexBody header nav ul li a:hover {
    color: red;
    -webkit-text-stroke: 0.04em black;
    transform: scale(1.1);
    transition: all 0.3s ease-out;
  }

  .indexBody header nav img {
    display: flex;
    margin: auto;
    width: 5em;
  }

  .indexBody header nav ul { 
    margin:0; 
    padding:4em 0 0;
    background: overlay;
    background: cover;
    background-color: red;
    list-style:none;
    position:fixed;
    left:0; right:0; top:0; bottom:0;
    transform: translatey(-100%);
    transition:.5s;
    z-index: -1;
    height: 100%;
    width: 100%;
  }

  .indexBody header nav.toonMenu ul {
    transform:translatex(0);
  }

  .indexBody header nav ul li {
    margin:0; 
    padding:0;
    justify-content: center;
    margin-top: 2em;
    margin-bottom: -1em;
  }

  .indexBody header nav ul li a {
    display: flex;
    align-items:center;
    justify-content: center;
  }

/* index nav ////////////////////////////////////////////////////////////////*/

/* .indexBody main section:first-of-type{  */
  /* position: fixed;
  width: 110%;
  top: -5%;
  left: -5%;
  height: 100%;
  object-fit: cover;
  z-index: -10;
  position: fixed; */

/* } */

.indexBody main section:nth-child(1) video{ /* Achtergrondvideo ////////////*/
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
}

.indexBody main section:nth-of-type(2){
  position: relative;
  width: 100vw;
}

.indexBody main section:nth-of-type(2) video { /* Video in het midden //////*/
  /* display: flex;
  width: 100%;
  max-width: 80%;
  transform: translate(12%, 50%);
  z-index: -1; */
  display: flex;
  max-width: 82%;
  margin: auto;
  transform: translate(0%, 10%);
} 

.indexBody main section:nth-child(2) img { /* LILKLEINE LOGO //////////////*/
  /* display: flex;
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) */
  position: absolute;
  width: 100%;
  top: 50%;
} 

  /* indexBody h1 and h2 /////////////////////////////////////////////////*/

  .indexBody main article{
    display: flex;
    position: relative;
    /* margin-top: -88.7%;
    margin-left: 9.5vw; */
    justify-content: center;
    margin: auto;
    margin-top: -63.75%;
  }

  .indexBody main article h2{ /* https://www.w3schools.com/css/tryit.asp?filename=trycss3_animation2  */
    position: absolute;
    color: var(--h2-color);
    font-family: 'Eurostile Extended';
    font-size: 5.4vw;

    -webkit-animation: colorchange 20s infinite alternate;
  }
  @-webkit-keyframes colorchange {
    0% {
      color: #3655F5;
    }
    10% { 
      color: #FFF555;
    }
    20% { 
      color: red;
    }
    30% { 
      color: #D37734;
    }
    40% { 
      color: #7BEE57;
    }
    50% { 
      color:  #3655F5;
    }
    60% { 
      color: red;
    }
    70% { 
      color: #D37734;
    }
    80% {
      color: #7BEE57;
    }
    90% {
      color: #3655F5;
    }
    100% { 
      color: red;
    }
  }
    
  .indexBody main h3{ /* https://www.w3schools.com/css/tryit.asp?filename=trycss3_animation2  */
    position: absolute;
    margin-top: 69%;
    font-family: 'Eurostile Extended';
    font-size: 5.4vw;

    -webkit-animation: colorchange 20s infinite alternate;
  }
  @-webkit-keyframes colorchange {
    0% {
      color: #3655F5;
    }
    10% { 
      color: #FFF555;
    }
    20% { 
      color: red;
    }
    30% { 
      color: #D37734;
    }
    40% { 
      color: #7BEE57;
    }
    50% { 
      color:  #3655F5;
    }
    60% { 
      color: red;
    }
    70% { 
      color: #D37734;
    }
    80% {
      color: #7BEE57;
    }
    90% {
      color: #3655F5;
    }
    100% { 
      color: red;
    }
  }