*, *::after, *::before {
  box-sizing:border-box;  
}

body{
  background-color: black;
  margin: 0;
}

.indexBody header nav{
  margin:0;
  padding: 0;
}
.indexBody header nav a img{
  display: flex;
  position: sticky; 
  width: 6em;
  margin-top: 0.5em;
  margin-left: auto;
  margin-right: auto;
}

.indexBody main section video {
  display: flex;
  position: relative;
  width: 82.5%;
  max-width: 30em;
  margin: auto;
  margin-top: 8%;
} 

.indexBody main section img {
  display: flex;
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -95%)
} 




/* musicpage */

  .musicPageBody header nav{
    margin:0;
    padding: 0;
  }

  .musicPageBody header nav a img{
    display: flex;
    position: sticky; 
    width: 6em;
    margin-top: 0.5em;
    margin-left: auto;
    margin-right: auto;
  }

  .musicPageBody main h1{
    display: flex;
    color: white;
    font-size: 2.5em;
    font-family: 'Eurostile Extended';
    margin-left: 3.2em;
    margin-top: -0.4em;
    margin-right: 1em;
  }

  /* A (play-links) */
  /* .musicPageBody main section article:first-of-type figure:first-of-type a{
    color: #991919;
    font-family: 'Eurostile Extended';
    margin-top: 0.625em;
    text-decoration: underline;
    margin-right: 1em;
    
  }
  .musicPageBody main section article:first-of-type figure:nth-child(2) a{
    color: #991919;
    font-family: 'Eurostile Extended';
    margin-top: 0.625em;
    text-decoration: underline;
  }
  .musicPageBody main section article:nth-child(2) figure:nth-child(1) a{
    color: #991919;
    font-family: 'Eurostile Extended';
    margin-top: 0.625em;
    text-decoration: underline;
  }
  .musicPageBody main section article:nth-child(2) figure:nth-child(2) a{
    color: #991919;
    font-family: 'Eurostile Extended';
    margin-top: 0.625em;
    text-decoration: underline;
  } */
  /* A (play-links) */

  /* figcaptions */
  .musicPageBody main section article:first-of-type figure:first-of-type figcaption{
    color: white;
    font-family: 'Eurostile Extended';
    font-size: 1em;
    line-height: 1.6em;
    margin-left: 1.2em;
    margin-bottom: 0.625em;
  }
  .musicPageBody main section article:first-of-type figure:nth-child(2) figcaption{
    color: white;
    font-family: 'Eurostile Extended';
    font-size: 1em;
    line-height: 1.6em;
    margin-left: 1.2em;
    margin-bottom: 0.625em;
  }
  .musicPageBody main section article:nth-child(2) figure:nth-child(1) figcaption{
    color: white;
    font-family: 'Eurostile Extended';
    font-size: 1em;
    line-height: 1.6em;
    margin-left: 1.2em;
    margin-bottom: 0.625em;
  }
  .musicPageBody main section article:nth-child(2) figure:nth-child(2) figcaption{
    color: white;
    font-family: 'Eurostile Extended';
    font-size: 1em;
    line-height: 1.6em;
    margin-left: -1.4em;
    margin-bottom: 0.625em;
  }
  /* figcaptions */

  /* twee rijen */
  .musicPageBody main section article:first-of-type{
    display:flex;
    flex-direction: row;
    margin-top: 1em;
    margin-bottom: 5em;
    margin-left: -0.3em;
  }

  .musicPageBody main section article:nth-child(2){
    display:flex;
    flex-direction: row;
    margin-top: 1em;
    margin-bottom: 5em;
    margin-left: -0.3em;
  }
  /* twee rijen */

  /* Afbeeldingen 1&2*/
    .musicPageBody main section article:first-of-type figure:nth-child(2){
      margin-left: -1em;
      color: white;
      font-family: 'Eurostile Extended';
    }

    /* https://lilkleine.nl/wp-content/uploads/2021/05/unnamed-1.png */
    .musicPageBody main section article figure:first-of-type a img{
      width: 10em;;
      height: 10em;
      border: 0.2em solid #991919; 
    } 
    /* https://lilkleine.nl/wp-content/uploads/2021/05/unnamed.png */
    .musicPageBody main section article figure:nth-child(2) a img{
      width: 10em;
      height: 10em;
      border: 0.2em solid #991919;
    } 

    .musicPageBody main section article:first-of-type section{
      margin-top: 13.5em;
      margin-left: -29.5em;
    }
    .musicPageBody main section article:first-of-type section a {
      color: #991919;
      margin-top: 10em;
      font-size: 0.875em;
      text-decoration: underline;
      font-family: 'Eurostile Extended';
    } 
    .musicPageBody main section article:first-of-type section a:nth-child(2) {
      color: #991919;
      margin-top: 10em;
      font-size: 0.875em;
      text-decoration: underline;
      font-family: 'Eurostile Extended';
      margin-left: 9.5em;
    } 
    /* Afbeeldingen 1&2*/


    /*  Afbeeldingen 3&4 */

    /* https://lilkleine.nl/wp-content/uploads/2021/05/unnamed-5.jpeg */
    .musicPageBody main section article:nth-child(2) figure:first-of-type{
      margin-bottom: 3.5em;
    }
    .musicPageBody main section article:nth-child(2) figure:first-of-type{
      margin-bottom: 7em;
    }
    .musicPageBody main section article:nth-child(2) figure:first-of-type a img{
      width: 10em;
      height: 10em;
      border: 0.2em solid #991919;
    } 
    /* https://lilkleine.nl/wp-content/uploads/2020/04/unnamed-2.png  */
    .musicPageBody main section article:nth-child(2) figure:nth-child(2) a img{
      margin-left: -3.4em;
      width: 10em;
      height: 10em;
      border: 0.2em solid #991919;
    }
    
    .musicPageBody main section section{
      margin-top: -10.5em;
      margin-left: 4.6em;
    }
    .musicPageBody main section section a{
      color: #991919; 
      font-family: 'Eurostile Extended';
      font-size: 0.875em;
    }
    .musicPageBody main section section a:nth-child(2){
      color: #991919; 
      font-family: 'Eurostile Extended';
      margin-left: 10em;
      font-size: 0.875em;
    }
  /* Afbeeldingen 3&4 */
  
  

  .musicPageBody1 header nav{
    margin:0;
    padding: 0;
  }
  .musicPageBody1 header nav a img{
    display: flex;
    position: sticky; 
    width: 6em;
    margin-top: 0.5em;
    margin-left: auto;
    margin-right: auto;
  }

  .musicPageBody1 main h1{
    display: flex;
    color: white;
    font-family: Eurostile Extended; 
    justify-content: center;
  }

  .musicPageBody1 main .albumWrapper{
    display: grid;
    grid-template-columns:10em 10em;
    grid-template-columns:repeat(auto-fit, minmax(10em, 1fr));
  }

  .musicPageBody1 main section a img{
    height: 10em;
  }

  
